.app-component-container {
  display: flex;
  position: relative;
}
.app-component-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  object-position: left;
}
@media(max-width: 991px) {
  .app-component-image {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .app-component-image {
    width: 250px;
    height: 250px;
  }
}
