.feature-card4-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card4-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card4-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card4-text1 {
  color: var(--dl-color-gray-700);
}
.feature-card4-root-class-name {
  width: 100%;
}



@media(max-width: 479px) {
  .feature-card4-text {
    font-style: normal;
    font-weight: 600;
  }
}
