[data-md-color-scheme="default"] {
    --md-primary-fg-color:   #459AA3;
    --md-accent-fg-color:    #459AA3;
    --md-typeset-a-color:    #459AA3;
    color:                   #4b585a;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:   #459AA3;
    --md-accent-fg-color:    #459AA3;
    --md-default-bg-color:   #14181e;
    --md-typeset-a-color:    #459AA3;
    color:                   #ced6dd;
}

[data-md-color-scheme="default"] h1,
[data-md-color-scheme="slate"] h1 {
    color: #459AA3;
}

[data-md-color-scheme="default"] h1,
[data-md-color-scheme="slate"] h1 {
    color: #459AA3;
}

/* Code block colors for default theme */
[data-md-color-scheme="default"] {
    --md-code-fg-color:             #657b83;
    --md-code-bg-color:             #f2f6f6;
    --md-code-hl-color:             #eee8d5;
    --md-code-hl-number-color:      #dc322f;
    --md-code-hl-special-color:     #cb4b16;
    --md-code-hl-function-color:    #268bd2;
    --md-code-hl-constant-color:    #6c71c4;
    --md-code-hl-keyword-color:     #859900;
    --md-code-hl-string-color:      #2aa198;
    --md-code-hl-name-color:        #b58900;
    --md-code-hl-operator-color:    #657b83;
    --md-code-hl-punctuation-color: #657b83;
    --md-code-hl-comment-color:     #93a1a1;
    --md-code-hl-generic-color:     #657b83;
    --md-code-hl-variable-color:    #cb4b16;
}

/* Code block colors for slate theme */
[data-md-color-scheme="slate"] {
    --md-code-fg-color:             #d4d4d4;
    --md-code-bg-color:             #28303d;
    --md-code-hl-color:             #264f78;
    --md-code-hl-number-color:      #FFB86C;
    --md-code-hl-special-color:     #C678DD;
    --md-code-hl-function-color:    #61AFEF;
    --md-code-hl-constant-color:    #E06C75;
    --md-code-hl-keyword-color:     #459AA3;
    --md-code-hl-string-color:      #98C379;
    --md-code-hl-name-color:        #D19A66;
    --md-code-hl-operator-color:    #56B6C2;
    --md-code-hl-punctuation-color: #d4d4d4;
    --md-code-hl-comment-color:     #5C6370;
    --md-code-hl-generic-color:     #d4d4d4;
    --md-code-hl-variable-color:    #E5C07B;
}


[data-md-color-scheme="default"] .md-main,
[data-md-color-scheme="slate"] .md-main {
    --md-typeset-a-color:    #459AA3;
}

[data-md-color-scheme="default"] .md-nav__link:hover,
[data-md-color-scheme="slate"] .md-nav__link:hover,
[data-md-color-scheme="default"] a:hover,
[data-md-color-scheme="slate"] a:hover {
    color:                   #5cb7c2;
}


[data-md-color-scheme="default"] .md-tabs__link:hover,
[data-md-color-scheme="slate"] .md-tabs__link:hover{
    color:                   #fff;
}

[data-md-color-scheme="default"] table,
[data-md-color-scheme="default"] th,
[data-md-color-scheme="default"] td,
[data-md-color-scheme="default"] code,
[data-md-color-scheme="slate"] table,
[data-md-color-scheme="slate"] th,
[data-md-color-scheme="slate"] td,
[data-md-color-scheme="slate"] code {
    font-size: 14px; /* paragraph 16px, rest 14px */
}



@media only screen and (min-width: 75.25em) {
  .md-main__inner {
    max-width: 1000em;
  }
  .md-sidebar--primary {
    /* max-width: 20em; */
    left: 0;
  }
  .md-sidebar--secondary {
    /* max-width: 20em; */
    right: 0;
    margin-left: 0em;
    -webkit-transform: none;
    transform: none;   
  }
}

/* 
.md-grid {
  max-width: 2000px; 
} */
