name: Code quality

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"

env:
  FORCE_COLOR: 1

jobs:
  check:
    name: ${{ matrix.check }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        check:
          - format
          - lint
          # - types

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        if: matrix.check == 'types'
        run: uv sync --all-extras --all-groups

      - name: Run format check
        if: matrix.check == 'format'
        run: uvx ruff format --diff

      - name: Run lint check
        if: matrix.check == 'lint'
        run: uvx ruff check

      - name: Run type check
        if: matrix.check == 'types'
        run: uv run mypy src
