name: Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"

env:
  FORCE_COLOR: 1

jobs:
  pytest:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.10", "3.11", "3.12"]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: uv sync --all-extras --all-groups

      # Run all tests on schedule, but only non-slow tests on push
      - name: Run pytest with coverage
        run: |
          if [ "${{ github.event_name }}" == "schedule" ]; then
            uv run coverage run -m pytest tests --durations=0
          else
            uv run coverage run -m pytest tests --durations=0 -m "not slow"
          fi
        shell: bash

      - name: Generate coverage report
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python == '3.12' }}
        run: |
          uv run coverage xml
          ls -la coverage.xml

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.python == '3.12' }}
        uses: codecov/codecov-action@v5.4.3
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
